services:
  
  app:
    image: lscr.io/linuxserver/kavita:latest
    container_name: kavita
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/London
    labels:
      traefik.enable: true
      traefik.http.routers.kavita.entrypoints: https-public
      traefik.http.services.kavita.loadbalancer.passHostHeader: true
    networks:
      - backend
    restart: unless-stopped
    volumes:
      - app-config:/config
      - /mnt/media/ebooks:/data

networks:
  backend:
    external: true

volumes:
  app-config:
    driver: local