services:
  
  app:
    image: ddsderek/audiobookshelf:latest
    container_name: audiobookshelf
    environment:
      PUID: 1000
      PGID: 1000
      UMASK: 022
      TZ: Europe/London
    labels:
      traefik.enable: true
      traefik.http.routers.audiobookshelf.entrypoints: https-public
      traefik.http.services.audiobookshelf.loadbalancer.passHostHeader: true
    networks:
      - backend
    restart: unless-stopped
    volumes:
      - app-config:/config
      - app-data:/metadata
      - /mnt/media:/mnt/media

networks:
  backend:
    external: true

volumes:
  app-config:
    driver: local
  app-data:
    driver: local        