services:
  
  app:
    image: deluan/navidrome:latest
    container_name: navidrome
    configs:
      - source: app_config
        target: /app/navidrome.toml
        uid: "1000"
        gid: "1000"
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/London
    labels:
      traefik.enable: true
      traefik.http.routers.navidrome.entrypoints: https-public
      traefik.http.services.navidrome.loadbalancer.passHostHeader: true
      traefik.http.services.navidrome.loadbalancer.server.url: http://authentik:9000
    networks:
      - backend
    restart: unless-stopped
    user: 1000:1000
    volumes:
      - app-data:/data
      - /mnt/media/music:/music

networks:
  backend:
    external: true

volumes:
  app-data:
    driver: local

configs:
  app_config:
    content: |
      LogLevel = 'DEBUG'
      ScanSchedule = '@every 1h'
      TranscodingCacheSize = '150MiB'
      SessionTimeout = '24h'

      EnableGravatar = true
      EnableSharing = true
      EnableTranscodingConfig = true

      DataFolder = "/data"
      MusicFolder = "/music"

      ReverseProxyUserHeader = "X-authentik-username"
      ReverseProxyWhitelist = "0.0.0.0/0"

      [LastFM]
      ApiKey = "${NAVIDROME_LASTFM_API_KEY:-super_secret_lastfm_api_key}"
      Secret = "${NAVIDROME_LASTFM_SECRET:-super_secret_lastfm_secret}"
      Language = "en"

      [Spotify]
      ID = "${NAVIDROME_SPOTIFY_ID:-super_secret_spotify_id}"
      Secret = "${NAVIDROME_SPOTIFY_SECRET:-super_secret_lastfm_secret}"

      [Prometheus]
      Enabled = true