services:

  app:
    image: traefik:latest
    command:
      - '--configfile=/etc/traefik.yml'
    container_name: traefik
    configs:
      - source: app_config
        target: /etc/traefik.yml
      - source: app_dynamic_authentik
        target: /etc/traefik.d/authentik.yml
      - source: app_dynamic_crowdsec
        target: /etc/traefik.d/crowdsec.yml
    environment:
      CF_API_EMAIL: andronics@gmail.com
      CF_DNS_API_TOKEN: YZ9wmVDFyKLBUUaMEjee5tS66rlyXr6J8NGvHwiP
    extra_hosts:
      - host.docker.internal:172.17.0.1
    labels:
      traefik.enable: true
      traefik.http.routers.traefik.entrypoints: https-public
      traefik.http.services.traefik.loadbalancer.passHostHeader: true
      traefik.http.services.traefik.loadbalancer.server.url: http://authentik:9000
    networks:
      backend:
    ports:
      - 80:80         # https-public
      - 443:443       # https-private
    restart: unless-stopped
    security_opt:
      - "no-new-privileges=true"
    volumes:
      - app-data:/var/lib/traefik
      - app-log:/var/log/traefik
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

  # netcat:
  #   image: subfuzion/netcat
  #   command: -vl 8888
  #   container_name: traefik-netcat
  #   env_file:
  #     - .env
  #   networks:
  #     backend:
  #   restart: unless-stopped

  # https://developers.cloudflare.com/cloudflare-one/networks/connectors/cloudflare-tunnel/configure-tunnels/cloudflared-parameters/run-parameters/
  tunnel:
    image: cloudflare/cloudflared:latest
    command: tunnel run
    container_name: traefik-tunnel
    env_file:
      - .env
    environment:
      NO_AUTOUPDATE: true
      TUNNEL_LOGLEVEL: debug
      TUNNEL_METRICS: 0.0.0.0:9090
      TUNNEL_TOKEN: ${TRAEFIK_CLOUDFLARE_TOKEN:-super_secret_token}
    networks:
      backend:
    restart: unless-stopped

networks:
  backend:
    external: true

volumes:
  app-data:
    driver: local
  app-log:
    driver: local

configs:

  app_config:
    content: |
      accessLog:
        filePath: /var/log/traefik/access.log
        format: common
        fields:
          defaultMode: keep
          headers:
            defaultMode: keep
            names:

      api:
        insecure: false
        dashboard: true
        debug: true

      certificatesResolvers:
        production:
          acme:
            caServer: https://acme-v02.api.letsencrypt.org/directory
            email: "andronics@gmail.com"
            storage: "/var/lib/traefik/certificates/production.json"
            dnsChallenge:
              provider: cloudflare
        staging:
          acme:
            caServer: https://acme-staging-v02.api.letsencrypt.org/directory
            email: "andronics@gmail.com"
            storage: "/var/lib/traefik/certificates/staging.json"
            dnsChallenge:
              provider: cloudflare

      entryPoints:
        metrics:
          address: :8002
        mqtt:
          address: :1883/tcp
        http-public:
          address: :80/tcp
          forwardedHeaders:
            insecure: false
          http:
            redirections:
              entryPoint:
                scheme: https
                to: https-public
        https-public:
          address: :443/tcp
          forwardedHeaders:
            insecure: true
            trustedIPs:
              - "10.0.0.0/8"
              - "172.16.0.0/12"
              - "192.168.0.0/16"
          http:
            middlewares:
              - crowdsec-bouncer@file
            tls:
              certResolver: production
              domains:
                - main: "andronics.io"
                  sans:
                    - "*.andronics.io"

      experimental:
        plugins:
          rewrite-body:
            moduleName: "github.com/packruler/rewrite-body"
            version: "v1.2.0"
          theme-park:
            modulename: "github.com/packruler/traefik-themepark"
            version: "v1.2.2"

      global:
        checkNewVersion: false
        sendAnonymousUsage: false

      log:
        filePath: /var/log/traefik/traefik.log
        format: common
        level: ERROR
        noColor: true

      metrics:
        prometheus:
          addEntryPointsLabels: true
          addRoutersLabels: true
          addServicesLabels: true
          entryPoint: metrics
          headerLabels:
            apikey: x-api-key
            useragent: User-Agent

      providers:
        docker:
          defaultRule: "Host(`{{ index .Labels \"com.docker.compose.project\" }}.andronics.io`) || Header(`X-Forwarded-Host`, `{{ index .Labels \"com.docker.compose.project\" }}.andronics.io`)"
          exposedByDefault: false
          network: backend
          watch: true
        file:
          directory: /etc/traefik.d
          watch: true

      serversTransport:
        insecureSkipVerify: true

  app_dynamic_authentik:
    content: |
      http:
        middlewares:
            authentik:
                forwardAuth:
                    address: http://authentik:9000/outpost.goauthentik.io/auth/traefik
                    trustForwardHeader: true
                    authResponseHeaders:
                        - X-authentik-username
                        - X-authentik-groups
                        - X-authentik-email
                        - X-authentik-name
                        - X-authentik-uid
                        - X-authentik-jwt
                        - X-authentik-meta-jwks
                        - X-authentik-meta-outpost
                        - X-authentik-meta-provider
                        - X-authentik-meta-app
                        - X-authentik-meta-version
  app_dynamic_crowdsec:
    content: |
      http:
        middlewares:
            crowdsec-bouncer:
                forwardAuth:
                    address: http://crowdsec-bouncer:8080/api/v1/forwardAuth
                    trustForwardHeader: true
