services:
  
  app:
    image: ghcr.io/linuxserver/calibre:latest
    container_name: calibre
    environment:
      PGID: 1000
      PUID: 1000
      TZ: Europe/London
      UMASK: 022
    labels:
      traefik.enable: true
      traefik.http.routers.calibre.entrypoints: https-public
      traefik.http.services.calibre.loadbalancer.passHostHeader: true
      traefik.http.services.calibre.loadbalancer.server.url: http://authentik:9000
    networks:
      - backend
    restart: unless-stopped
    security_opt:
      - "seccomp=unconfined"
    volumes:
      - app-config:/config
      - /mnt/media:/mnt/media
      
networks:
  backend:
    external: true

volumes:
  app-config:
    driver: local